<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionTitle</key>
	<array>
		<string>Personal Collection</string>
		<string>Overview</string>
	</array>
	<key>IndicatorArrayVersion0</key>
	<array>
		<string>Distance</string>
		<string>Frequency</string>
		<string>Avg. Pace</string>
		<string>Time</string>
		<string>Max Distance</string>
		<string>Fastest Pace</string>
		<string>Avg. HR</string>
		<string>Dynamic KCAL</string>
		<string>Avg. Power</string>
		<string>Avg. Cadence</string>
	</array>
	<key>Favorite</key>
	<array/>
</dict>
</plist>
