<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionTitle</key>
	<array>
		<string>个人收藏</string>
		<string>概要</string>
	</array>
	<key>Favorite</key>
	<array/>
	<key>IndicatorArrayVersion0</key>
	<array>
		<string>跑步总距离</string>
		<string>跑步次数</string>
		<string>平均配速</string>
		<string>累计时长</string>
		<string>最远距离</string>
		<string>最快配速</string>
		<string>平均心率</string>
		<string>动态千卡</string>
		<string>平均跑步功率</string>
		<string>平均步频</string>
	</array>
</dict>
</plist>
