<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RunningTypeArray</key>
	<array>
		<string>长跑</string>
		<string>中长跑</string>
		<string>短跑</string>
		<string>间歇跑</string>
		<string>法特兰克跑</string>
		<string>越野跑</string>
		<string>基础跑</string>
		<string>节奏跑</string>
		<string>轻松跑</string>
	</array>
</dict>
</plist>
