<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sec2LogoName</key>
	<array>
		<string>chart.pie.fill</string>
		<string>moonphase.first.quarter</string>
		<string>sun.haze.fill</string>
	</array>
	<key>sec2Array</key>
	<array>
		<string>Data Statistics and Analysis</string>
		<string>数据分析模块</string>
		<string>模块3</string>
	</array>
</dict>
</plist>
